
<html >
<head>
  
  <title>MoodCoin - Personal Stock</title>
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <%- include('nav.ejs') %>
  <%- include('logout.ejs') %>
  <div class="rest">
  <h1>This is the MAIN Stock page</h1>
  <div class="followingDiv">
    <div> 
      <canvas id="personalStockChart5" width="400" height="200" style="max-height: 300px; max-width: 400;"></canvas> 
       <button onclick="followUser('f')">Follow User F</button>
    </div>
    <div>
    <canvas id="personalStockChart2" width="400" height="200" style="max-height: 300px; max-width: 400;"></canvas>
    <button onclick="followUser('v')">Follow User v</button>
  </div>
    <canvas id="personalStockChart3" width="400" height="200" style="max-height: 300px; max-width: 400;"></canvas>
    <canvas id="personalStockChart4" width="400" height="200" style="max-height: 300px; max-width: 400;"></canvas>
  </div>
 <!-- THANK YOU SAHAL BRO IT STOPPED WORKING  -->
  <script src="script.js"></script>
</body>
</html>
