<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>


<div class="nav">
    <a href="/">home</a>
    <a href="/search">search</a>
    <a href="/personalstock">personal</a>
</div>