<html>
<head>
  <title>MoodCoin</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="search-container">
    <%- include('nav.ejs') %>
    

    <div class='rest'>
      <input type="text" id="search">
      <button onclick="searchU();">search</button>

      <div>
        <a  id="chartLink">
          <canvas id="searchStock" width="200" height="100"></canvas>
        </a>

        <button id="followButton" onclick="followUserFromSearch()" style="display: none;">Follow User</button>      

      </div>


    </div>
    </div>
      <script src="script.js"></script>

  </body>
    </html>