<html>
<head></head>
<body>
<div class="search-container">
    <%- include('nav.ejs') %>

    <div class='rest'>
    <form method="GET" action="/search">
      <input
        type="text"
        class="search-bar"
        name="searchTerm"
        placeholder="Search..."
      />

      <canvas id="searchStock" width="200" height="100" ></canvas>



    </div>
    </div>
      <script src="script.js"></script>

  </body>
    </html>