<html>
<head>
  <title>MoodCoin</title>
  <link href="/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <%- include('nav.ejs') %>
  <%- include('logout.ejs') %>

  <div class="rest">
    <h1>Stock Data</h1>
    <p>This is <%= username %>'s profile</p> <!-- Dynamically display the username -->

    <div class='chartDiv'>
      <canvas id="specificChart" ></canvas>
      <div>
        <button onclick="followUserFromSearch()">Follow User</button>
      </div>
      <h1>Follows</h1>
      <div class="followChart"> 
        <canvas class='followCharts' id="specificChartF" ></canvas>
        <canvas class='followCharts' id="specificChartF1" ></canvas>
        <canvas class='followCharts' id="specificChartF2" ></canvas>
        <canvas class='followCharts' id="specificChartF3" ></canvas>
      </div>
    </div>
  </div>

  <script src="/script.js"></script>
</body>
</html>